body {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(113, 109, 109, 0.7);
}

.avatars,
.result {
    display: flex;
    margin: 300px auto;
    width: 505px;
    height: 171px;
    background-color: white;
    border-radius: 5px;
}

.avatars > img {
    flex: 1;
    cursor: pointer;
}

.result {
    height: 220px;
    width: 350px;
    display: none;
    font-size: 6em;
    font-weight: bold;
    line-height: 220px;
}

.info {
    display: flex;
    width: 505px;
    margin: 0 auto;
}

.info img {
    height: 70px;
}

.info > span {
    flex: 1;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
