body {
    text-align: center;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(113, 109, 109, 0.7);
}

.avatars, .result-level {
    display: flex;
    margin: 300px auto;
    width: 505px;
    height: 171px;
    background-color: white;
    border-radius: 5px;
}

.result-level {
  display: none;
}

.avatars>img {
  flex: 1;
  cursor: pointer;
}

.info {
    display: flex;
    width: 505px;
    border: solid red 1px;
    margin: 0 auto;
}

.score, .lifes {
    flex : 1;
    font-size: 1.5em;
    font-weight: bold;
}

.score_value, .lifes_value {
    text-align: center;
}
